In [1]:
import numpy as np # linear algebra
import pandas as pd
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

from sklearn import metrics
from sklearn.linear_model import LogisticRegression

import logging,sys

In [2]:
extracted_dataset= []
target = []

data_frame = pd.read_csv("binary.csv",header=0)
data_frame

#Target coloumn name: 'admit' having values as 0 and 1

     admit  gre   gpa  rank
0        0  380  3.61     3
1        1  660  3.67     3
2        1  800  4.00     1
3        1  640  3.19     4
4        0  520  2.93     4
5        1  760  3.00     2
6        1  560  2.98     1
7        0  400  3.08     2
8        1  540  3.39     3
9        0  700  3.92     2
10       0  800  4.00     4
11       0  440  3.22     1
12       1  760  4.00     1
13       0  700  3.08     2
14       1  700  4.00     1
15       0  480  3.44     3
16       0  780  3.87     4
17       0  360  2.56     3
18       0  800  3.75     2
19       1  540  3.81     1
20       0  500  3.17     3
21       1  660  3.63     2
22       0  600  2.82     4
23       0  680  3.19     4
24       1  760  3.35     2
25       1  800  3.66     1
26       1  620  3.61     1
27       1  520  3.74     4
28       1  780  3.22     2
29       0  520  3.29     1
..     ...  ...   ...   ...
370      1  540  3.77     2
371      1  680  3.76     3
372      1  680  2.42     1
373      1  620  3.37     1
374      0  560  3.78     2
375      0  560  3.49     4
376      0  620  3.63     2
377      1  800  4.00     2
378      0  640  3.12     3
379      0  540  2.70     2
380      0  700  3.65     2
381      1  540  3.49     2
382      0  540  3.51     2
383      0  660  4.00     1
384      1  480  2.62     2
385      0  420  3.02     1
386      1  740  3.86     2
387      0  580  3.36     2
388      0  640  3.17     2
389      0  640  3.51     2
390      1  800  3.05     2
391      1  660  3.88     2
392      1  600  3.38     3
393      1  620  3.75     2
394      1  460  3.99     3
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

[400 rows x 4 columns]

In [3]:
dataset = np.array(data_frame)
# Sepratating out target column from rest of data-set columns
for row in dataset:
    extracted_dataset.append(row[1:])
    target.append(row[0])

In [4]:
#Splitting independent data and targeted data as test and train
X_train, X_test, Y_train, Y_test= train_test_split(extracted_dataset,
                                                   target,test_size=0.2,
                                                   random_state=100)

print ("Training dataset size: ", len(X_train))
print ("Testing dataset size: ", len(X_test))

Training dataset size:  320
Testing dataset size:  80

In [5]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [6]:
# Train the model 

clf_entropy=LogisticRegression()

clf_entropy.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [7]:
#predicting test data values for clf_entropy model
predicted_entropy = clf_entropy.predict(X_test)

In [8]:
# Collecting count of correctly and mis-predicted data
idx = 0
true = 0
false = 0
for i in X_test:
        if predicted_entropy[idx]==Y_test[idx]:
            true +=1
        else:
            false +=1
        idx +=1

print ("True: ", true)
print ("False: ", false)

# Accuracy calculation
accuracy =  (true/(true+false))
print("Accuracy = {:.2%}".format(accuracy))

True:  49
False:  31
Accuracy = 61.25%

In [9]:
# Confusion Matrix
from  sklearn.metrics import confusion_matrix 
cM = confusion_matrix(Y_test,predicted_entropy)
print(cM)

[[48  6]
 [25  1]]

In [10]:
# Calculating metrics using matrix
tp, fp, fn, tn = cM.ravel()
recall = tp/(tp+fn)
precision = tp/(tp+fp)
print("Recall = Sensitivity = {:.2%}".format(tp/(tp+fn)))
print("Specificity = {:.2%}".format(tn/(tn+fp)))
print("Accuracy={:.2%}".format((tp+tn)/(tp+tn+fp+fn)))
print("Precision={:.2%}".format(tp/(tp+fp)))
f1score= 2 *(recall*precision)/(precision+recall)
print("f1 score={:.2%}".format(f1score))
from sklearn.metrics import roc_curve
from  sklearn.metrics import auc
fpr, tpr, thresholds = roc_curve(Y_test,predicted_entropy)
aucP=auc(fpr, tpr)

print("auc of ROC curve = {:.2%}".format(aucP))

Recall = Sensitivity = 65.75%
Specificity = 14.29%
Accuracy=61.25%
Precision=88.89%
f1 score=75.59%
auc of ROC curve = 46.37%